extends main.pug

block meta
  title Infinite Limit - #{title}
  meta(name="description" content=description)
  meta(name="twitter:card" content="summary")
  meta(name="twitter:site" content="@infinitelimitzn")
  meta(name="twitter:title" content=title)
  meta(name="twitter:description" content=description)
  meta(name="twitter:image" content=image)

block content
  h1= title
  if category
    h4
      | Category / 
      a(href!='/categories/'+categorySlug) !{category}
  div.published-date-label
    em !{publishDate}

  if image
    .full
      img(src=image)
  for slice in body
    case slice.sliceType
      when 'text'
        section !{slice.value.asHtml()}
      when 'image-with-caption'
        - var imageWithCaption = slice.value.toArray()[0]
        div.full
          img(src=imageWithCaption.getImage('illustration').url)
        span !{imageWithCaption.get('caption').asText()}
  if author
    .author-container
      strong By 
        a(href='/author/'+author.uid) #{author.name}
      | !{author.bio}
  if tags && tags.length
    .tags-container
      | Tags:
      ul
        for tag in tags
          li
            a(href!='/tags/'+tag) !{tag}
