extends main.pug

block meta
  title Infinite Limit
  meta(name="twitter:card" content="summary")
  meta(name="twitter:site" content="@infinitelimitzn")
  meta(name="twitter:title" content="Infinite Limit")
  meta(name="twitter:description" content="A community-driven e-zine with tutorials for fantasy virtual consoles")
  meta(name="twitter:image" content="http://www.infinitelimit.net/static/favicon/android-chrome-192x192.png")

block content
  for article in docs.results 
    .menuitem
      if article.getImage('article.thumbnail')
        a(href!="/article/"+article.uid)
          img.menu-thumbnail(src=article.getImage('article.thumbnail').url)
      div(style='menu-text')
        a(href!="/article/"+article.uid)
          h1= article.getStructuredText('article.title').asText()
        - var category = article.getLink('article.category');
        if category
          h4 Category / #{category.getText('category.title')}
        - var author = article.getLink('article.author');
        if author
          a(href='/author/'+author.uid)
            em.author #{author.getText('author.name')}
        p= article.getStructuredText('article.description').asText()
